.selectedNode {
}
.controls {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.node {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.selectedNode {
  background-color: lightseagreen;

}

.children {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.container{
  max-width: 1600px;
}
